<html>
    <head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
    <div class="navbar bg-light" >
            <a class="active" href="./">Home</a>
            <a href="./events">Events</a>
            <a href="./contact">Bookings</a>
            <a href="./login">Login</a>
            <a href="./about">About</a>
          </div>
        <h1 style="background-color: #80ced6">{{title}}</h1>
        {{#entries}}

        
            <div>
                <h4>{{title}}</h4>
                <p>
                    {{contents}}
                </p>
                <p>
                    {{time}}
                </p>
                <div>
                    <p>Event hosted by {{host}} on {{date}}</p>
                </div>
            </div>
            
            <hr>
        {{/entries}}
        {{^entries}}
            No entries yet.
        {{/entries}}
            <div>
            {{#user}}

            <form method="POST" action="/delete">

            <input type="text" class="form-control" id="title" name="title">

            <input type="Submit" value="Delete" class="btn btn-primary">

            </form>

            <form method="POST" action="/edit">

            <input type="text" class="form-control" id="title" name="title">

            <input type="Submit" value="Edit" class="btn btn-primary">
            
            </form>

            {{/user}}
            </div>
            {{#user}}
            <a href="./new" class="btn btn-primary">
            Add event
            </a>
            {{/user}}
    </body>
</html>