<html>
    <head>
    <div class="topnav">
            <a class="active" href="./">Home</a>
            <a href="./events">Events</a>
            <a href="./contact">Private Hire</a>
            <a href="./login">Staff Login</a>
            <a href="./about">About</a>
          </div>
    </head>
    <body>
        <h1>{{title}}</h1>
        {{#entries}}
            <div>
                <h4>{{title}}</h4>
                <p>
                    {{contents}}
                </p>
                <p>
                    {{time}}
                </p>
                <div>
                    <p>Event hosted by {{host}} on {{date}}</p>
                </div>
            </div>
            <hr>
        {{/entries}}
        {{^entries}}
            No entries yet.
        {{/entries}}
    </body>